.gradient_text {
  background-image: linear-gradient(
    90deg,
    #a8620a 2%,
    #e09519 20%,
    #ffe581 48%,
    #fcdc75 52%,
    #f6c755 60%,
    #eca522 71%,
    #e8980f 75%,
    #feb838 100%
  );
}

.title_text {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 800px;
  animation: type 8s steps(40, end) infinite;
  -webkit-text-stroke: 1px transparent;
  -webkit-text-stroke-color: #e2e53c;
  animation-delay: 5s;
  border: none;
}

@keyframes type {
  0% {
    width: 0;
  }
  1%,
  90% {
    border-right: none;
    -webkit-text-stroke: 1px transparent;
  }
  91%,
  100% {
    border-right: none;
    -webkit-text-stroke: 1px #fff;
    -webkit-text-stroke-color: #e2e53c;
  }
}

/* .card_section {
    margin-top: -300px;
} */

.btn_arrow {
  animation: move 0.3s steps(40, end);
}

@keyframes move {
  0% {
    transform: translateX(-1300%);
  }
  100% {
    transform: translateX(0);
  }
}